

/* FONTS */


@font-face {
    font-family: HelveticaNeue;
    src: url("../fonts/helvetica/HelveticaNeue.ttf") format("truetype"),
    url("../fonts/helvetica/HelveticaNeue.woff") format("woff");
}
@font-face {
    font-family: HelveticaNeueThin;
    src: url("../fonts/helvetica/HelveticaNeue-Thin.ttf") format("truetype"),
    url("../fonts/helvetica/HelveticaNeue-Thin.woff") format("woff");
}

@font-face {
    font-family: HelveticaNeueLight;
    src: url("../fonts/helvetica/HelveticaNeue-Light.ttf") format("truetype"),
    url("../fonts/helvetica/HelveticaNeue-Light.woff") format("woff");
}
@font-face {
    font-family: HelveticaNeueCondensedBold;
    src: url("../fonts/helvetica/HelveticaNeue-CondensedBold.woff") format("woff"),
    url("../fonts/helvetica/HelveticaNeue-CondensedBold.ttf") format("truetype");
}

@font-face {
    font-family: SnellRoundhandBold;
    src: url("../fonts/snellroundhand/SnellRoundhandBold.ttf");
}



/* FONTS end */


/* BASE */

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font: 14px Tahoma, sans-serif;
    line-height: normal;
    color: #364050;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color: #ffffff;
}
a:hover {
    text-decoration: none;
}

.wrapper-content {
    min-height: 100vh;
    background: #dfe4ed;
}
.content {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    /*justify-content: space-between;*/
    align-items: flex-start;
    max-width: 960px;
    margin: 0 auto;
    padding: 7px 10px 30px 10px;
    box-sizing: border-box;
}

/* BASE end */

/* HEADER */

.wrapper-header {
    position: fixed;
    z-index: 3;
    width: 100%;
    background: #364050;
}
.header {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    min-height: 83px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
    color: #ffffff;
}

.header-logo img {
    max-width: 60px;
    margin-left: 5px;
}
.btn-menu {
    display: none;
}
.header-nav {
    display: flex;
    flex-flow: row wrap;
    width: 190px;
    margin-left: 40px;
}
.header-nav__item {
    display: inline-block;
    padding: 10px;
    font-size: 15px;
    text-align: center;
}

.header-nav__item:hover {
    background: #465264;
    transition: background 0.2s linear;
}
.header-nav__number {
    position: relative;
    top: -2px;
    display: inline-block;
    margin-left: 5px;
    padding: 1px 3px;
    border-radius: 3px;
    font: 12px HelveticaNeueLight, sans-serif;
    text-align: center;
    background: #bec7d7;
    color: #364050;
}
.header-title {
    font-size: 25px;
    font-family: SnellRoundhandBold, sans-serif;
    color: #606772;
}
.header-profile {
    padding: 20px 10px 20px 14px;
    box-sizing: border-box;
    position: relative;
    text-align: right;
    cursor: pointer;
}
.header-profile.profile-mob {
    display: none;
}

.header-profile:hover {
    background: #465264;
    transition: background 0.2s linear;
}
.header-profile.active {
    background: #465264;
}
.header-registration {
    display: inline-block;
    vertical-align: middle;
    margin-left: 130px;
    padding: 10px;
    box-sizing: border-box;
}

.header-registration:hover {
    background: #465264;
    transition: background 0.2s linear;
}

.header-profile div {
    display: inline-block;
    vertical-align: middle;
}
.header-profile img {
    max-width: 40px;
}
.header-profile__name {
    margin-right: 10px;
    font-size: 18px;
}
.header-profile__arrow {
    width: 11px;
    height: 5px;
    margin-left: 10px;
    background: url("../images/header/profile_arrow.png") center no-repeat;
    background-size: cover;
}
.profile-list {
    position: absolute;
    top: 83px;
    left: 0;
    z-index: 10;
    width: 100.5%;
    border: 1px solid #364050;
    border-top: none;
    box-sizing: border-box;
    text-align: left;
    background: #ffffff;
}
.profile-list a {
    display: block;
    padding: 7px 0 7px 40px;
    font-size: 15px;
    color: #364050;
}

.profile-list a:hover {
    background: #eee;
    transition: all 0.2s linear;
}
.header-line {
    position: fixed;
    top: 83px;
    z-index: 3;
    width: 100%;
    max-width: 940px;
    height: 7px;
    background: #dfe4ed;
}
/* HEADER end */




/* SIDEBAR LEFT */


.sidebar-left {
    position: fixed;
    top: 93px;
    max-width: 150px;
}
.sidebar-left__item {
    padding: 3px 0;
    line-height: 25px;
    cursor: pointer;
}

.sidebar-left__item a {
    font-size: 15px;
    color: #364050;
}
.sidebar-left__item.item--special a {
    position: relative;
    display: inline-block;
    padding-right: 30px;
    color: #e94c3d;
}
.sidebar-left__item.item--special a::after {
    content: '\2605';
    display: inline-block;
    margin-left: 5px;
    font-size: 13px;
}

.sidebar-left__item:hover a {
    color: #ffffff;
    transition: all 0.2s linear;
}
.sidebar-left__item .count {
    float: right;
    margin: 4px 0 0 8px;
    padding: 2px 5px;
    border-radius: 2px;
    font: 12px HelveticaNeue, sans-serif;
    background: #bec7d7;
}
.advertising {
    padding-top: 25px;
}
.advertising-item {
    display: block;
    margin: 0 0 30px;
    color: #364050;
}
.advertising-item img {
    display: block;
    max-width: 150px;
    margin-bottom: 8px;
}
.advertising-item span {
    display: block;
}
.advertising-item__title {
    font-size: 15px;
}
.advertising-item__link {
    margin-bottom: 8px;
    font-size: 14px;
    color: #b0b4bc;
}
.advertising-item__description {
    font: 12px HelveticaNeueLight, sans-serif;
}


.sidebar-auth {
    margin-top: 20px;
    color: #364050;
}
.sidebar-auth  label {
    display: inline-block;
    margin-bottom: 5px;
}
.sidebar-auth  input.radio {
    vertical-align: top;
    width: 17px;
    height: 17px;
    margin: 0 3px 0 0;
}
.radio + label {
    cursor: pointer;
    font-size: 13px;
}
.radio + label:first-of-type {
    margin-right: 20px;
}
.radio:not(checked) {
    position: absolute;
    opacity: 0;
}
.radio:not(checked) + label {
    position: relative;
    padding: 0 0 0 18px;
}
.radio:not(checked) + label:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 11px;
    height: 11px;
    border: 1px solid #CDD1DA;
    border-radius: 50%;
    background: #FFF;
}
.radio:not(checked) + label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 3px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #d53a42;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
    opacity: 0;
    transition: all .2s;
}
.radio:checked + label:after {
    opacity: 1;
}
.sidebar-auth  input.checked-phone,
.sidebar-auth  input.checked-mail {
    margin-top: 10px;
}
.sidebar-auth  input.checked-phone {
    display: none;
}
.sidebar-auth  input.radio--mail:checked .checked-mail {
    display: block;
}

.sidebar-auth  input.radio--phone:checked  ~ .checked-phone {
    display: block;
}
.sidebar-auth  input.radio.radio--phone:checked ~ .checked-mail {
    display: none;
}

.sidebar-auth  input,
.registration-btn {
    width: 100%;
    margin-bottom: 8px;
    height: 27px;
    padding-left: 10px;
    border: 1px solid #364050;
    background: #ffffff;
    box-sizing: border-box;
}
.sidebar-auth  input[type="submit"] {
    margin-top: 5px;
}
.sidebar-auth  input[type="submit"],
.registration-btn  {
    display: inline-block;
    height: 35px;
    padding: 0;
    border:none;
    border-bottom: 4px solid #d53a42;
    border-radius: 5px;
    font: 14px HelveticaNeueThin, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffffff;
    background: #e94c3e;
    cursor: pointer;
    outline: none;
}
.sidebar-auth  input[type="submit"]:hover,
.registration-btn:hover {
    background: #de4638;
    transition: all 0.2s linear;
}
.registration-btn {
    margin-bottom: 10px;
    text-align: center;
    line-height: 32px;
}
.sidebar-auth input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    padding: 0;
    margin: 0 5px 0 0;
    border-radius: 0;
    border: 1px solid #364050;
    background: #ffffff;
}
.sidebar-auth input[type="checkbox"] + label {
    display: inline-block;
    vertical-align: middle;
    line-height: 15px;
    margin: 0;
    font-size: 13px;
}

/* SIDEBAR LEFT end */


/* MAIN PAGES BLOCK */

.main {
    width: 100%;
    margin: 85px 0 0 165px;
    max-width: 775px;

}
.main.profile {
    margin: 85px 0 0 165px;
}
.hero {
    max-width: 100%;
    position: relative;
    min-height: 500px;
    background: url("../images/hero/brunetka.jpg") center no-repeat;
    background-size: cover;
    overflow: hidden;
}
.hero-header {
    padding: 15px 40px 15px 0;
    font: 16px HelveticaNeueLight, sans-serif;
    text-align: right;
    background: rgba(54,64,80,0.5);
    color: rgba(255,255,255,0.8);
}
.hero-form {
    float: right;
    max-width: 360px;
    margin: 35px 30px 0 0;
    color: #364050;
}
.hero-form__title {
    margin-bottom: 25px;
    font: 14px/22px HelveticaNeueThin, sans-serif;
    text-align: center;
}

.hero form {
    max-width: 230px;
    margin: 0 auto;
}
.hero form  label {
    display: block;
    margin: 0 0 3px 25px;
    font-size: 15px;
}
.hero form input {
    width: 100%;
    margin-bottom: 3px;
    height: 27px;
    padding-left: 10px;
    border: 1px solid #364050;
    background: #ffffff;
    box-sizing: border-box;
}
.hero form  input[type="submit"]  {
    display: inline-block;
    height: 40px;
    padding: 0;
    margin-top: 15px;
    border:none;
    border-bottom: 4px solid #d53a42;
    border-radius: 5px;
    font: 14px HelveticaNeueThin, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffffff;
    background: #e94c3e;
    cursor: pointer;
    outline: none;
}
.hero form  input[type="submit"]:hover {
    background: #ce584f;
    transition: all 0.2s linear;
}
.hero-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 0 15px 40px;
    font: 16px HelveticaNeueLight, sans-serif;
    text-align: left;
    background: rgba(122,122,122,0.5);
    color: rgba(255,255,255,0.8);
}

/* MAIN PAGES BLOCK end */




/* PERSONS */

.scroll-fix-content {
    position: relative;
    height: auto;
}
.center {
    position: fixed;
    top: 83px;
    left: 148px;
    max-width: 565px;
    width: 80%;
    margin: 0 10px 0 15px;
    background: #ffffff;
    color: #364050;
    overflow: hidden;
}
.center-content {
    position: relative;
    overflow: hidden;
}
.center {
    position: relative;
}

.center-header {
    position: fixed;
    z-index: 2;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 565px;
    min-height: 45px;
    padding: 6px 0 6px 40px;
    box-sizing: border-box;
    font: 18px HelveticaNeueLight, sans-serif;
    background: #f9f9f9;
}
.visitors-title {
    padding: 5px 0;
}
.online-persons {
    background: #ffffff;
}
.persons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 10px;
    margin-top: 40px;
}
.persons-item {
    display: block;
    width: 21%;
    max-width: 130px;
    padding: 10px;
    color: #364050;
    background: #fff;
}

.persons-item:hover .persons-item__image {
    filter: contrast(0.67)saturate(2.5) hue-rotate(-30deg) sepia(0.4);
    transition: all 0.2s linear;
}
.persons-item__image {
    display: block;

}
.persons-item__image img {
    display: block;
    width: 100%;
    height: 100%;
}
.persons-item__info {
    display: block;
    min-height: 87px;
    padding: 0 9px 10px;
    box-sizing: border-box;
    font-size: 11px;
    background: #f9f9f9;
}
.online-persons .persons-item__info {
    min-height: 67px;
}

.persons-item__person {
    display: block;
    min-height: 37px;
    margin-bottom: 5px;
    padding-top: 10px;
    box-sizing: border-box;
}
.online-status {
    font: 12px/15px HelveticaNeueThin, sans-serif;
}
.online-status.online {
    color: #15d311;
}
.online-status span {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
}
.person-status {
    float: right;
    letter-spacing: 0.5px;
    font: 13px HelveticaNeueLight, sans-serif;
}
.person-status span {
    display: inline-block;
    vertical-align: top;
    font-size: 10px;
    color: #e94c3d;
}


/* PERSONS end */


/* ADVANTAGES */

.advantages {
    margin: 7px 0 30px;
    padding: 30px 20px;
    background: #ffffff;
    color: #364050;
}
.advantages-title {
    margin-bottom: 25px;
    font: 18px HelveticaNeueLight, sans-serif;
    text-align: center;
}
.advantages-title span {
    font-family: HelveticaNeueCondensedBold, sans-serif;
}
.advantages-content {
    max-width: 95%;
    margin: 0 auto;
    overflow: hidden;
}
.advantages-item {
    float: left;
    width: 50%;
    margin-bottom: 20px;
}
.advantages-icon {
    float: left;
    margin-right: 15px;
}
.advantages-icon img {
    display: inline-block;
    max-width: 30px;
    max-height: 24px;
}
.advantages-text {
    float: left;
    max-width: 85%;
    font: 13px HelveticaNeue, sans-serif;
}
.advantages-btn  {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    height: 40px;
    margin-left: 40px;
    padding: 0;
    border:none;
    border-bottom: 4px solid #d53a42;
    border-radius: 5px;
    font: 14px HelveticaNeueThin, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffffff;
    background: #e94c3e;
    cursor: pointer;
    outline: none;
}
.advantages-btn:hover {
    background: #de4638;
    transition: all 0.2s linear;
}




/* ADVANTAGES end */


/* SIDEBAR RIGHT */

.sidebar-right {
    margin: 83px 0 0 150px;
    width: 30%;
    max-width: 200px;

}
.sidebar-right img {
    display: block;
    max-width: 100%;
}
.sidebar-right__header {
    position: fixed;
    z-index: 2;
    width: 200px;
    min-height: 45px;
    padding: 11px 0;
    box-sizing: border-box;
    font: 18px HelveticaNeueLight, sans-serif;
    text-align: center;
    background: #f9f9f9;
}
.sidebar-right__header span::before,
.sidebar-right__header span::after {
    content: '\2605';
    position: relative;
    top: -3px;
    display: inline-block;
    margin: 0 8px 0;
    font-size: 13px;
    color: #e94c3d;
}
.vip-person__item {
    padding-bottom: 25px;
    font-size: 15px;
    background: #ffffff;
}
.sidebar-right .vip-person__item:first-of-type {
    margin-top: 45px;
}
.vip-person__info {
    padding: 5px 15px 0;
}
.vip-person__image {
    position: relative;
    z-index: 1;
    margin-bottom: 5px;
}
.vip-person__image::before {
    content: '';
    display: block;
    position: absolute;
    top: 12px;
    right:4px;
    z-index: 10;
    width: 23px;
    height: 12px;
    background: url("../images/vip/crown.png") 0 0 no-repeat;
}
.vip-person__image::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 0;
    height: 0;
    border-top: 50px solid #e94c3e;
    border-left: 50px solid transparent;
}
.vip-person__title {
    margin-bottom: 5px;
}
.vip-person__price {
    margin-bottom: 5px;
    color: #b0b4bc;
}
.vip-person__description {
    font: 12px HelveticaNeueLight, sans-serif;
}
.vip-btn {
    display: block;
    width: 80%;
    height: 43px;
    margin: 15px auto;
    padding: 0 0 0 8px;
    border:none;
    border-bottom: 4px solid #d53a42;
    border-radius: 5px;
    font: 16px HelveticaNeueThin, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffffff;
    background: #e94c3e;
    cursor: pointer;
    outline: none;
}
.vip-btn:hover {
    background: #de4638;
    transition: all 0.2s linear;
}
.vip-btn span {
    line-height: 43px;
}
.vip-btn span::after {
    content: '\2605';
    display: inline-block;
    margin-left: 10px;
    color: #ffffff;
}


/* SIDEBAR RIGHT end */

/* FOOTER */


footer {
    margin: 15px 0;
    font: 12px/15px HelveticaNeueThin, sans-serif;
    color: #8e8d8d;
}
.profile--foreign ~ footer {
    margin-top: 30px;

}
/* FOOTER end */


