.field-search {
    width: 90%;
    height: 33px;
    padding: 0 0 0 24px;
    border: none;
    background: transparent;
    font: 14px HelveticaNeueLight, sans-serif;
    color: #364050;
    outline: none;
    box-sizing: border-box;
    background: url("/images/messages/search.png") 0 center no-repeat;
    background-size: 15px;
}
.field-search::-webkit-input-placeholder {
    font-size: 16px;
    color: #364050;
}
.field-search::-moz-placeholder {
    font-size: 16px;
    color: #364050;
}
.field-search:-ms-input-placeholder {
    font-size: 16px;
    color: #364050;
}

.center {
    position: relative;
}

.messages {
    margin-top: 45px;
    overflow: hidden;
    min-height: 100vh;
    background: #fff;
}

.messages-item {
    display: block;
    min-height: 80px;
    padding: 20px 40px;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    color: #364050;
}
.messages-item.not-read {
    background: #e9eef7;
}
.messages-photo {
    float: left;
    height: 100%;
    margin-right: 20px;
}
.messages-photo img {
    width: 50px;
}
.message-info {
    float: left;
    width: 85%;
    margin-top: 5px;

}
.message-header {
    margin-bottom: 5px;
    overflow: hidden;
}
.message-header .name {
    float: left;
    font: 15px HelveticaNeueLight, sans-serif;
    font-weight: bold;
    letter-spacing: 0.5px;
}
.message-header .online-status {
    float: left;
    margin: 2px 0 0 15px;
}
.message-time {
    float: right;

}
.message-text {
    max-width: 381px;
    font: 14px/20px HelveticaNeueLight, sans-serif;
}
.message-answer {
    padding: 5px;
    background: #e9eef7;
}
.photo-small {
    float: left;
    margin-right: 15px;
}
.photo-small img {
    width: 35px;
}

.sound-off {
    position: fixed;
    bottom: 0;
    z-index: 2;
    width: 565px;
    padding: 11px 0 11px 60px;
    box-sizing: border-box;
    border-top: 0.07em solid rgba(54,64,80,0.5);
    font: 18px HelveticaNeueLight, sans-serif;
    cursor: pointer;
    background: #fff;
}
.sound-off:hover {
    background: #eee;
    transition: background 0.2s linear;
}
