.close-chat {
    display: inline-block;
    vertical-align: middle;
    padding: 0 15px 0 17px;
    margin: 0 0 0 -15px;
    border: none;
    font: 13px HelveticaNeueLight, sans-serif;
    color: #364050;
    background: transparent url("/images/messages/turn.png") 0 58% no-repeat;
    background-size: 8px;
    cursor: pointer;
    outline: none;
}
.close-chat:hover,
.btn--to_ignore:hover {
    opacity: 0.7;
    transition: opacity 0.2s linear;
}
.field-search.bg--white {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    max-width: 278px;
    height: 29px;
    padding: 0 15px 0 32px;
    background: #fff url(/images/messages/search.png) 10px 53% no-repeat;
    background-size: 15px;
    border: 1px solid #364050;
}
.btn--to_ignore {
    padding: 0 15px;
    background: transparent;
    border: none;
    font: 13px HelveticaNeueLight, sans-serif;
    cursor: pointer;
    color: #364050;
    outline: none;
}


.messages-item.message--answer {
    background: #e9eef7;
}
.message-info__left {
    float: left;
}
.message--answer .message-time {
    float: left;
    width: 100%;
}
.message--answer .message-status {
    font: 12px HelveticaNeueThin, sans-serif;
    color: #465264;
}
.message--answer .messages-photo {
    float: right;
    margin: 0 0 0 20px ;
}

.message--answer .name {
    float: right;
}

.message--answer .message-text {
    float: right;
     text-align: right;
}
.message-form {
    position: fixed;
    bottom: 0;
    z-index: 2;
    width: 565px;
    padding: 8px 23px;
    box-sizing: border-box;
    border-top: 0.07em solid rgba(54,64,80,0.5);
    background: #f9f9f9;
}
.message-form form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.field-file {
    width: 30px;
    height: 30px;
    border: none;
    text-indent: -9999px;
    background: transparent url("/images/messages/clip.png") center no-repeat;
    background-size: contain;
    outline: none;
    cursor: pointer;
}
.field-file:hover,
.message-form input[type="submit"]:hover {
    opacity: 0.7;
    transition: opacity 0.2s linear;
}
.message-form input[type="text"] {
    width: 85%;
    max-width: 418px;
    padding: 10px 15px;
    box-sizing: border-box;
    border: 1px solid rgba(54,64,80,0.5);
    margin: 0 10px;
    outline: none;
}
.message-form input[type="text"]::-webkit-input-placeholder {
    font: 14px HelveticaNeueLight, sans-serif;
    color: #bdc6d3;
}
.message-form input[type="submit"] {
    width: 30px;
    height: 30px;
    border: none;
    background: transparent url("/images/messages/arrow-message.png") center no-repeat;
    background-size: contain;
    outline: none;
    cursor: pointer;
    text-indent: -9999px;
}