.profile-header {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 10px;
}
.profile-header__avatar {
    max-width: 150px;
    margin-right: 10px;
    padding: 10px 10px 5px;
    box-sizing: border-box;
    border: 1px solid #364050;
    border-radius: 3px;
    background: #fff;
}
.profile-header__avatar img {
    display: inline-block;
    width: 100%;
}
.btn-change__avatar {
    width: 100%;
    font-size: 13px;
    text-align: center;
    border: none;
    background: transparent;
    cursor: pointer;
}
.btn-change__avatar:hover {
    opacity: 0.7;
    transition: opacity 0.2s linear;
}

.profile-header__info {
    width: 80%;
    max-width: 614px;
    min-height: 373px;
    box-sizing: border-box;
    border: 1px solid #364050;
    border-radius: 3px;
    background: #fff;
}
.profile-header__top {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    min-height: 40px;
    padding: 8px 20px;
    box-sizing: border-box;
    background: #f9f9f9;
    font: 14px HelveticaNeueLight, sans-serif;
}
.profile-header__left {
    width: 50%;
}
.profile-header__right {
    width: 50%;
    max-width: 250px;
    text-align: right;
}
.btn-payment {
    display: inline-block;
    padding: 0;
    margin-top: 5px;
    font-weight: bold;
    background: transparent;
    border: none;
    cursor: pointer;
}
.btn-payment:hover {
    opacity: 0.7;
    transition: opacity 0.2s linear;
}

.profile-header__person {
    display: flex;
    flex-flow: row wrap;
    padding: 15px 20px;
}

.profile-person__top {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    margin-bottom: 15px;
}
.profile-header__name {
    font-size: 16px;
    font-weight: bold;
}
.profile-person__top .online-status {
    font-size: 14px;
    margin-top: 1px;
}

.profile-header__column.main-info {
    max-width: 160px;
}
.profile-header__column.main-info span {
    display: inline-block;
    width: 50%;
    margin-bottom: 10px;
}
.profile-header__column.main-info span:nth-child(odd) {
    font: 14px HelveticaNeueThin, sans-serif;
}
.profile-header__column.main-info span:nth-child(even) {
    font: 14px HelveticaNeueLight, sans-serif;
}

.profile-header__column.interests-info {
    width: 30%;
    max-width: 120px;
    margin-left: 30px;
    font: 14px HelveticaNeueLight, sans-serif;
}
.profile-header__column.interests-info div {
    margin-bottom: 10px;
}

.profile-header__column.about {
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
    font: 13px/18px HelveticaNeueLight, sans-serif;
    background: #f9f9f9;
}
.profile-header__column p {
    margin:0 0 10px;
}

.person-content {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 10px;
    border: 1px solid #364050;
    border-radius: 3px;
    background: #fff;
}

.person-content__photo {
    max-width: 150px;
    margin-top: 10px;
    box-sizing: border-box;
    border: 1px solid #364050;
    border-radius: 3px;

}

.person-content__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    min-height: 45px;
    padding: 6px 15px;
    box-sizing: border-box;
    background: #f9f9f9;
    font: 14px HelveticaNeueLight, sans-serif;
    color: #364050;
}
.person-content__header button {
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}
.person-content__header button:hover {
    opacity: 0.7;
    transition: all 0.2s linear;
}
.photo-content {
    display: flex;
    flex-flow: row wrap;
}
.photo-item {
    max-width: 50%;
    margin: 0;
}
.photo-item img {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
}

.person-content__visitors {
    width: 100%;
}
.person-content__visitors .online-status {
    display: inline-block;
    max-width: 70%;
    font-size: 11px;
}
.person-content__visitors .items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0 7px;
}
.person-content__visitors .persons-item {
    width: 30%;
    padding: 10px 5px;
}
.person-content__visitors .persons-item img {

}
.person-content__visitors .persons-item__person {
    padding-top: 5px;
    margin-bottom: 3px;
}
.person-content__visitors .persons-item__info {
    min-height: inherit;
    padding: 5px 7px 10px;
    overflow: hidden;
}
.person-content__visitors .persons-item__person {
    min-height: 30px;
}
.person-content__visitors .person-content__header {
    display: block;
}
.profile .online-persons {
    border: 1px solid #364050;
    border-radius: 3px;
    background: #fff;
}

.online-persons__title {
    min-height: 45px;
    padding: 13px 0 13px 50px;
    box-sizing: border-box;
    background: #f9f9f9;
}

.profile.profile--foreign {
    max-width: 567px;
    margin: 0 9px 0 14px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #364050;
    border-radius: 3px;
    background: #FFFFFF;

}
.profile--foreign .profile-header {
    margin-bottom: 0;
}
.profile--foreign .profile-header__info {
    width: 345px;
    border: none;
}
.profile--foreign .profile-header__person {
    padding: 10px 10px 0;
}
.profile--foreign .person-content__photo,
.profile--foreign .profile-header__avatar {
    border: none;
}
.profile--foreign .profile-header__avatar {
    max-width: 190px;
    padding: 0;
}
.profile--foreign .profile-header__avatar .btn {
    display: block;
    height: 35px;
    margin: 10px auto;
    padding: 0 15px;
    border: none;
    border-bottom: 4px solid #d53a42;
    border-radius: 5px;
    font: 12px HelveticaNeueThin, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffffff;
    background: #e94c3e;
    cursor: pointer;
    outline: none;
}
.profile--foreign .profile-header__avatar .btn:hover {
    background: #de4638;
    transition: all 0.2s linear;
}
.profile--foreign .person-content__photo {
    max-width: 190px;
}

.profile--foreign .person-content__header {
    display: block;
    min-height: inherit;
    margin: 27px 0 10px;
    padding: 0;
    background: none;
    text-align: center;
}
.profile--foreign .btn-change__avatar {
    padding: 0;
    outline: none;
}

.profile--foreign .photo-content {
   justify-content: space-between;
}
.profile--foreign .photo-item {
    width: 31.5%;
    margin-bottom: 3px;
    border-radius: 3px;
    border: 0.05em solid #364050;
    overflow: hidden;
    cursor: pointer;
}
.profile--foreign .photo-item:hover img {
    filter: contrast(0.67)saturate(2.5) hue-rotate(-30deg) sepia(0.4);
    transition: opacity 0.2s linear;
}
.profile--foreign .about {
    width: 100%;
}
.profile--foreign .about p {
    margin-left: 5px;
}
.profile--foreign .about .profile-header__column.interests-info {
    width: 100%;
    max-width: 100%;
}
.profile--foreign .about ul {
    margin-left: 35px;
    list-style: disc;
    color: #d53a42;
}
.profile--foreign .about ul span {
    color: #364050;
}
.profile--foreign .about .about-description {
    margin-left: 20px;
}